<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<mapper namespace="com.myproject.parking.lib.mapper.BookingMapper">
     <insert id="createBooking" parameterType="booking" useGeneratedKeys="true" keyProperty="id">      	
    	INSERT INTO booking(name,phone_no,email,booking_id,booking_code,booking_date,mall_name,slot_name,id_slot,booking_status) 
    	VALUES (#{name},#{phoneNo},#{email},#{bookingId},#{bookingCode},#{bookingDate},#{mallName},#{slotName},#{idSlot},#{bookingStatus})	
     </insert>
     
     <sql id="_sqlBooking">
    	m.id ,m.name,
	    m.phone_no as phoneNo,m.email as email,
	    m.booking_id as bookingId,
	    m.mall_name as mallName,
	    m.slot_name as slotName,
	    m.id_slot as idSlot,
	    m.booking_status as bookingStatus,
		m.booking_code as bookingCode,m.booking_date as bookingDate
    </sql>
     
     <select id="findBookingByBookingId" parameterType="java.util.Map" resultType="Booking">
        select 
        <include refid="_sqlBooking"/> 
        from booking m 		
		where m.booking_id = #{bookingId}
    </select>
    
     <select id="findBookingByIdAllowPay" parameterType="java.util.Map" resultType="Booking">
        select 
        <include refid="_sqlBooking"/> 
        from booking m 		
		where m.booking_id = #{bookingId}
		and m.booking_status = 0
    </select>
    
     <select id="findBookingByCodeAllowCheckIn" parameterType="java.util.Map" resultType="Booking">
        select 
        <include refid="_sqlBooking"/> 
        from booking m 		
		where m.booking_code = #{bookingCode}
		and m.booking_status = 2
    </select>
    
     <select id="findBookingNotPay" resultType="Booking">
        select <include refid="_sqlBooking"/>  
        from booking m left join transaction t on m.booking_id = t.order_id 
        where t.transaction_status IS NULL
        and m.booking_status = 0
    </select>
    
     <select id="findBookingNotCheckIn" resultType="Booking">
        select <include refid="_sqlBooking"/>  
        from booking m 
        where m.booking_status = 2
    </select>
    
     <update id="updateMallSlotStatusAvailable" parameterType="java.util.Map">      
    	UPDATE mall_slots SET slots_status = 0 WHERE id = #{idSlot}
     </update>
     
     <update id="updateBookingStatus" parameterType="booking" >      	
    	UPDATE booking SET booking_status = #{bookingStatus} WHERE id = #{id} 	
     </update>
		
</mapper>