<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<mapper namespace="com.myproject.parking.lib.mapper.MallMapper">
    <sql id="_sqlMall">
    	m.id,m.mall_code as mallCode,m.mall_name as mallName,
        m.mall_address as mallAddress,m.mall_phone as mallPhone,m.mall_image as mallImage,m.status,
    	m.created_on as createdOn, m.created_by as createdBy,
    	m.updated_on as updatedOn, m.updated_by as updatedBy   	
    </sql>
    
    <select id="findAllMall" resultType="Mall">
        select  
        <include refid="_sqlMall"/>
        from mall m
        where m.status = 1 
    </select>
    
    <select id="findMallByName" parameterType="java.util.Map" resultType="Mall">
        select  
        <include refid="_sqlMall"/>
        from mall m
        where m.status = 1 
        and m.mall_name = #{mallName}
    </select>
    
    
    <select id="findSlotAvailablePerMall" resultType="MallSlotAvailable">
        select m.id,
        count(m.id) as slotAvailable
		from mall m
		inner join mall_slots ms
		on m.id = ms.mall_id
		where m.status = 1 and ms.slots_status = 0
		group by ms.mall_id
		order by m.id asc
    </select>
    
</mapper>
