<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<mapper namespace="com.myproject.parking.lib.mapper.SlotsParkingMapper">
    
    <sql id="_sqlSLotsParking">
    	m.id as mall.id,m.mall_code as mall.mallCode,m.mall_name as mall.mallName,
        m.mall_address as mall.mallAddress,m.mall_phone as mall.mallPhone,
    	m.created_on as mall.createdOn, m.created_by as mall.createdBy,
    	m.updated_on as mall.updatedOn, m.updated_by as mall.updatedBy,
    	ms.id as mallSlots.id,ms.mall_id as mallSlots.mallId,
    	ms.slots_name as mallSlots.slotsName,ms.slots_price as mallSlots.slotsPrice,
    	ms.slots_status as mallSlots.slotsStatus,ms.created_on as mallSlots.createdOn,
    	ms.created_by as mallSlots.createdBy,ms.updated_on as mallSlots.updatedOn,
    	ms.updated_by as mallSlots.updatedBy
    </sql>
    
    <select id="findSlotsParkingAvailable" parameterType="java.util.Map" resultType="SlotsParkingVO">
        select 
        <include refid="_sqlSLotsParking"/> 
        from mall m 
		inner join mall_slots ms on m.id = ms.mall_id
		where ms.slots_status = 0
    </select>
    
</mapper>
