<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<mapper namespace="com.myproject.parking.lib.mapper.TransactionMapper">
     <insert id="createTransaction" parameterType="TransactionVO" useGeneratedKeys="true" keyProperty="id">      
    	insert into transaction(customer_first_name,customer_last_name,customer_email,customer_phone,billing_first_name,billing_last_name,billing_address,billing_city
  			,billing_postal_code,billing_country_code,billing_phone,shipping_first_name,shipping_last_name,shipping_address,shipping_city,shipping_postal_code,shipping_phone
  			,shipping_country_code,payment_order_id,payment_transaction_id,total_price_idr,payment_method,payment_status,payment_fds_status,booking_id,email_notification,email_notification_reason,created_on,created_by,updated_on,updated_by)
    		values(#{customerFirstName}, #{customerLastName}, #{customerEmail}, #{customerPhone}, #{billingFirstName}, #{billingLastName}, #{billingAddress}, #{billingCity},
    		#{billingPostalCode}, #{billingPhone}, #{billingCountryCode}, #{shippingFirstName}, #{shippingLastName}, #{shippingAddress}, #{shippingCity}, #{shippingPostalCode},
    		#{shippingPhone}, #{shippingCountryCode}, #{paymentOrderId}, #{paymentTransactionId}, #{totalPriceIdr}, #{paymentMethod}, #{paymentStatus}, #{paymentFdsStatus},#{bookingId},#{emailNotification},#{emailNotificationReason},
    		#{createdOn}, #{createdBy}, #{updatedOn}, #{updatedBy})  	
     </insert>
     
     <update id="updateTransactionStatus" parameterType="java.util.Map" >
    	UPDATE transaction SET payment_status = #{PaymentStatus},payment_fds_status = #{PaymentFdsStatus},payment_transaction_id = #{PaymentTransactionId} 
    	WHERE payment_order_id = #{orderId} 	    	
     </update>
     
     <update id="updateEmailNotification" parameterType="java.util.Map" >
    	UPDATE transaction SET email_notification = #{emailNotification},email_notification_reason = #{emailNotificationReason}
    	WHERE payment_order_id = #{orderId} 	    	
     </update>
</mapper>